.fa {
    padding: 20px;
    font-size: 25px;
    width: 15px;
    border-radius: 50%;
    box-sizing: unset;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
}


.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-sun-o,
.fa-book,
.fa-link {
    background: #64b1c4;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-whatsapp {
    background: #46a049;
    color: white;
}

.fa-instagram {
    background: #E1306C;
    color: white;
}

.grey {
    background-color: #f0f0f0;
}

.img-header {
    height: 145px;
    background: url(../img/header.jpg) no-repeat;
    background-size: cover;
    -moz-transition: 2s all;
    -webkit-transition: 2s all;
    -o-transition: 2s all;
    -ms-transition: 2s all;
    transition: 2s all;
    position: relative;
}

.bg-info-2 {
    background-color: #b6d2e0;
}

.display-4 {
    font-weight: 700;
    color: white;
    font-size: 2rem;
}

#headerCursos{

	font-size: 30px;
	margin-top: 30px;
	color: #4d4d52;
	font-weight: bold;
	text-align: center;
}

.imgCursos{

    height: 160px;
    width: 160px;
    border-radius: 50%
}

.tarjetaCurso{

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: #EBE6FB;
	padding-top: 20px;
	border-radius: 5%
}

.blanca{

	background: white;

}



.tituloCurso{
   
   color:#3a3e42;
   padding: 10px;
   text-align: center

}

.duracionCurso,.fechaCurso{

	margin-bottom: 2px;
	color: #3a3e42;
	font-size: 18px;

}

.duracionCurso{

	margin-top: 10px;

}

.fechaCurso{

	margin-bottom: 20px
}

.bold{

	font-weight: bold;
}

.detalles{

	width: 80%;
}

.clasesParticulares{

 margin-top: 20px;
 background: #56568c;
 color: white


}

.tituloCP{

	font-size: 28px;
    color: white;
    font-weight: bold;

}

.botonCP{
	background: #9bffff;
    color: #56568c;
    font-weight: bold;
}
